Package: com.hackingdartmouth.referercontrol
Name: RefererControl
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Allows you to customize the HTTP referer on a per-site basis.
Maintainer: Alex Beals <alexcbeals+tweak@gmail.com>
Author: Alex Beals <alexcbeals+tweak@gmail.com>
Section: Tweaks
Icon: file:///Library/Application Support/RefererControl/icon@2x.png
Depiction: http://cydia.alexbeals.com/RefererControl
